@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700;6..12,800&family=Open+Sans:wght@300&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito+Sans:opsz,wght@6..12,600;6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&family=Open+Sans:wght@300&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito+Sans:opsz,wght@6..12,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito+Sans:opsz,wght@6..12,600;6..12,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Nunito Sans', sans-serif;
}


#section-courses1 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  background-color: #E5E5E5;
}

#section-courses1 .sec1{
  background-color: rgb(249, 249, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  padding: 6% 15% 7%;
  height: 1200px;
}

#section-courses1 .sec1 .sec1-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6.5%;
  align-items: center;
  color: white;
  height: 50%;
  width: 80%;
  padding: 1% 10%;
  background-color: #0E1331;
}

#section-courses1 .sec1 .sec1-1 p{
 width: 100%;
 font-size: 18px;
 text-align: center;
 word-spacing: 3.5px;
}

#section-courses1 .sec1 .sec1-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  align-items: center;
  color: white;
  height: 50%;
  width: 80%;
  padding: 1% 10%;
  background-color: #080B1E;
}

#section-courses1 .sec1 .sec1-2 p{
  width: 100%;
  font-size: 18px;
  text-align: center;
  word-spacing: 3.5px;
 }

#section-courses1 .sec1 .sec1-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  align-items: center;
  color: white;
  height: 50%;
  width: 80%;
  padding: 1% 10%;
  background-color: #0E1331;
  margin-bottom: 28px;
}

#section-courses1 .sec1 .sec1-3 p{
  width: 100%;
  font-size: 18px;
  text-align: center;
  word-spacing: 3.5px;
 }

 #section-courses1 .sec1 .sec1-4 a {
  text-align: center;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  background-color: #ED2B6F;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#section-courses1 .sec2 {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: column;
  height: 1200px;
  padding: 8% 5% 7%;
  gap: 3%;
}


#section-courses1 .sec2 .sec2a{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

#section-courses1 .sec2 .sec2b{
  background-color: #E5E5E5;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 2em 3em;
}


#section-courses1 .sec2 .sec2b .sec2-1{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.30);
}

#section-courses1 .sec2 .sec2b .sec2-1 .sec2-1-1 {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: end;
  background: url(/images/sec2-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#section-courses1 .sec2 .sec2b .sec2-1 .sec2-1-1 p {
  font-size: 24px;
  color: white;
  font-weight: 500;
}

#section-courses1 .sec2 .sec2b .sec2-1 .sec2-1-2 {
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 15%;
  position: relative;
  padding: 2%;
  background-color: white;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
}

#section-courses1 .sec2 .sec2b .sec2-1 .sec2-1-2 .first{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

#section-courses1 .sec2 .sec2b .sec2-1 .sec2-1-2 .user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4%;
}


#section-courses1 .sec2 .sec2b .sec2-1 .sec2-1-2 .user .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


#section-courses1 .sec2 .sec2b .sec2-1 .sec2-1-2 .user .profile img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


#section-courses1 .sec2 .sec2b .sec2-1 .sec2-1-2 .user .lock{
  height: 29px;
  width: 25px;
}




#section-courses1 .sec2 .sec2b .sec2-2{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.30);
}

#section-courses1 .sec2 .sec2b .sec2-2 .sec2-2-1 {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: end;
  background: url(/images/sec2-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#section-courses1 .sec2 .sec2b .sec2-2 .sec2-2-1 p {
  font-size: 24px;
  color: white;
  font-weight: 500;
}

#section-courses1 .sec2 .sec2b .sec2-2 .sec2-2-2 {
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 15%;
  position: relative;
  padding: 2%;
  background-color: white;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
}

#section-courses1 .sec2 .sec2b .sec2-2 .sec2-2-2 .first{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

#section-courses1 .sec2 .sec2b .sec2-2 .sec2-2-2 .user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4%;
}


#section-courses1 .sec2 .sec2b .sec2-2 .sec2-2-2 .user .profile {
  display: flex;flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


#section-courses1 .sec2 .sec2b .sec2-2 .sec2-2-2 .user .profile img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


#section-courses1 .sec2 .sec2b .sec2-2 .sec2-2-2 .user .lock{
  height: 29px;
  width: 25px;
}





#section-courses1 .sec2 .sec2b .sec2-3{ 
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  grid-column: 1;
  grid-row: span 3;
  height: 635px;
  border-radius: 5px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.30);
}

#section-courses1 .sec2 .sec2b .sec2-3 .sec2-3-1 {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: end;
  background: url(/images/sec2-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#section-courses1 .sec2 .sec2b .sec2-3 .sec2-3-1 p {
  font-size: 24px;
  color: white;
  font-weight: 500;
}

#section-courses1 .sec2 .sec2b .sec2-3 .sec2-3-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  gap: 3%;
  height: 40%;
  position: relative;
  padding: 2% 5% 5%;
  background-color: white;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
}

#section-courses1 .sec2 .sec2b .sec2-3 .sec2-3-2 .first{
  align-self: center;
  width: 90%;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

#section-courses1 .sec2 .sec2b .sec2-3 .sec2-3-2 .user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4%;
}


#section-courses1 .sec2 .sec2b .sec2-3 .sec2-3-2 .user .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


#section-courses1 .sec2 .sec2b .sec2-3 .sec2-3-2 .user .profile img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


#section-courses1 .sec2 .sec2b .sec2-3 .sec2-3-2 .user .lock{
  height: 29px;
  width: 25px;
}





#section-courses1 .sec2 .sec2b .sec2-4{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.30);
}

#section-courses1 .sec2 .sec2b .sec2-4 .sec2-4-1 {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: end;
  background: url(/images/sec2-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#section-courses1 .sec2 .sec2b .sec2-4 .sec2-4-1 p {
  font-size: 24px;
  color: white;
  font-weight: 500;
}

#section-courses1 .sec2 .sec2b .sec2-4 .sec2-4-2 {
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 15%;
  position: relative;
  padding: 2%;
  background-color: white;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
}

#section-courses1 .sec2 .sec2b .sec2-4 .sec2-4-2 .first{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

#section-courses1 .sec2 .sec2b .sec2-4 .sec2-4-2 .user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4%;
}


#section-courses1 .sec2 .sec2b .sec2-4 .sec2-4-2 .user .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


#section-courses1 .sec2 .sec2b .sec2-4 .sec2-4-2 .user .profile img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


#section-courses1 .sec2 .sec2b .sec2-4 .sec2-4-2 .user .lock{
  height: 29px;
  width: 25px;
}





#section-courses1 .sec2 .sec2b .sec2-5{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.30);
}

#section-courses1 .sec2 .sec2b .sec2-5 .sec2-5-1 {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: end;
  background: url(/images/sec2-5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#section-courses1 .sec2 .sec2b .sec2-5 .sec2-5-1 p {
  font-size: 24px;
  color: white;
  font-weight: 500;
}

#section-courses1 .sec2 .sec2b .sec2-5 .sec2-5-2 {
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 10%;
  position: relative;
  padding: 1%;
  background-color: white;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
}

#section-courses1 .sec2 .sec2b .sec2-5 .sec2-5-2 .first{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

#section-courses1 .sec2 .sec2b .sec2-5 .sec2-5-2 .user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4%;
}

#section-courses1 .sec2 .sec2b .sec2-5 .sec2-5-2 .user .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


#section-courses1 .sec2 .sec2b .sec2-5 .sec2-5-2 .user .profile img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


#section-courses1 .sec2 .sec2b .sec2-5 .sec2-5-2 .user .lock{
  height: 29px;
  width: 25px;
}




#section-courses1 .sec2 .sec2c{
  width: 40%;
  align-self: center;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  background-color: #ED2B6F;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}




#section-courses2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 7%;
  height: 350px;
  width: 100%;
  background: #E5E5E5;
}

#section-courses2 .sec-courseA {
  display: flex;
  flex-direction: column;
  gap: 2.25em;
  width: 30%;
}


#section-courses2 .sec-courseA .expose {
  line-height: 38px;
  word-spacing: 2px;
  font-size: 25px;
  font-weight: 400;
}

#section-courses2 .sec-courseA .expose .Myspan {
  font-weight: 700;
}


#section-courses2 .sec-courseA .view-more {
  width: 54%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  background-color: #ED2B6F;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

}


#section-courses2 .sec-courseB {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  place-items: center;
  place-content: center;
  gap: 5%;
}




#section-courses2 .sec-courseB .coures1{
  height: 180px;
  width: 175px;
  background: #373434;
  background-blend-mode: multiply;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.30);
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  padding: 15%;
  font-size: 18px;
  color: white;
}

#section-courses2 .sec-courseB .coures1 div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgb(124, 120, 120);
  background: url(/images/html.png);
  background-position: center;
  background-size: cover;
}

#section-courses2 .sec-courseB .coures1 .course-title a{
  text-decoration: none;
  font-size: 18px;
  color: white;
}


#section-courses2 .sec-courseB .coures2{
  height: 180px;
  width: 175px;
  background: #373434;
  background-blend-mode: multiply;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.30);
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  padding: 15%;
  font-size: 18px;
  color: white;
}

#section-courses2 .sec-courseB .coures2 div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgb(207, 205, 205);
  background: url(/images/css.png);
  background-position: center;
  background-size: cover;
}

#section-courses2 .sec-courseB .coures2 .course-title a{
  text-decoration: none;
  font-size: 18px;
  color: white;
}


#section-courses2 .sec-courseB .coures3{
  height: 180px;
  width: 175px;
  background: #373434;
  background-blend-mode: multiply;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.30);
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  padding: 15%;
  font-size: 18px;
  color: white;
}

#section-courses2 .sec-courseB .coures3 div {
  width: 80px;
  height: 80px;
  background-color: rgb(230, 228, 228);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: url(/images/nodejs.png);
  background-position: center;
  background-size: cover;
}

#section-courses2 .sec-courseB .coures3 .course-title a{
  text-decoration: none;
  font-size: 18px;
  color: white;
}


#section-courses2 .sec-courseB .coures4{
  height: 180px;
  width: 175px;
  background: #373434;
  background-blend-mode: multiply;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.30);
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  padding: 15%;
}

#section-courses2 .sec-courseB .coures4 div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: url(images/javascript.png);
  background-position: center;
  background-size: cover;
}

#section-courses2 .sec-courseB .coures4 .course-title a{
  text-decoration: none;
  font-size: 18px;
  color: white;
}
header {
  height: 80px;
  background-color: #080b1e;
  display: flex;
  padding: 50px;
}
.half {
  flex: 1;
  display: flex;
  gap: 30px;
  align-items: center;
}
.half img {
  height: 65px;
  width: 65px;
}
.font {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}
.half button {
  height: 30px;
  width: 126px;
  background: #ed2b6f;
  border: none;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
}
.font1 {
  color: #fff;
  font-weight: 300px;
  font-size: 36px;
}
.pic {
  position: relative;
}
.pic img {
  position: absolute;
  right: 15px;
  top: 7px;
}
.half2 {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 50px;
}

.half2 input {
  width: 430px;
  height: 39px;
  background: #070c31;
  border: 1px solid #fff;
  padding: 10px;
  color: white;
}
.half2 a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  width: 60px;
}
.half2 button {
  width: 88px;
  height: 31px;
  background: #ed2b6f;
  border: none;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
}

.banner {
  height: 680px;
  background: #1c2637;
  display: flex;
}
.banner-text {
  flex: 1;
  /* align-items: center; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
.banner-text h1 {
  color: #e5e5e5;
  font-family: "Nunito Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.36px;
  text-transform: capitalize;
}
.btn {
  width: 346px;
  height: 46px;
  border-radius: 3px;
  background: #ed2b6f;
  color: #fff;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  border: 0;
  /* margin-left: -50px; */
  margin-top: 100px;
}
.banner-pix {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}
.ban-position {
  display: grid;
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(2, 200px);
  gap: 30px 30px;
}
.card {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #0e1331;
  box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.card img {
  width: 100px;
  height: 100px;
}
.card p {
  color: #e5e5e5;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 20px;
}
.card{
  width: 1340px;
  height: 328px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 7px 26px 0px rgba(0, 0, 0, 0.30);
  margin-left: 100px;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-text{
  display: flex;
  width: 854px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.card-text p{
  color: #000;
  font-family: 'Nunito Sans', sans-serif;;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 136.3%; /* 34.075px */
  letter-spacing: 1px;
}
.card-text span{
  color: #000;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 136.3%;
  letter-spacing: 1px;
  margin-top: 20px;
}
.cricle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

}
.container{
  background: #c4c4c4;
  height: 412px;
  display: flex;
}
.container1{
  background: #373434;
  height: 120px;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 0 100px;
}
.content{
  display: flex;
  flex: 1;
  padding: 120px;
  gap: 50px;
}
.content1{
  flex: 1;
}
.cont h2{
  font-size: 24px;
  font-family: Nunito Sans sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.cont p{
  font-size: 24px;
  color: #585858;
  text-transform: capitalize;
  font-family: Nunito Sans sans-serif;
}
.content1{
  padding: 120px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.conte input{
  width: 522px;
  height: 57.5px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  color: #A59C9C;;
  font-size: 18px;
  padding: 10px;
}
.conte button{
  height: 57.5px;
  background: #ED2B6F;
  color: #fff;
  position: absolute;
  top: 120px;
  width: 66.7px;
  border-radius:  0px 5px 5px 0px;
  border: none;
}
.content1 h2{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.content1 h2 span{
  font-size: 36px;
  font-weight: 600;
  color: #585858;
}
.container1 p{
   color: #c4c4c4;
   font-size: 20px;
   font-weight: 700;
   text-transform: capitalize;

}
.copy{
  position: absolute;
/*   left: 1200px; */
}

